---
import Footer from "../components/UI/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Contact from "../sections/Contact.astro"
import About from "../sections/Home/About.astro"
import Hero from "../sections/Home/Hero.astro"
import Skills from "../sections/Home/Skills.astro"
---

<Layout title="Inicio | Bienvenido usuario :)">
  <main>
    <Hero />
    <About />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>
