---
import Footer from "../components/UI/Footer.astro"
import Layout from "../layouts/Layout.astro"
import Contact from "../sections/Contact.astro"
import Hero from "../sections/Portfolio/Hero.astro"
---

<Layout title="Proyectos | Algunos de mis trabajos...">
  <main>
    <Hero />
    <Contact />
  </main>
  <Footer />
</Layout>
