---
const { to } = Astro.props
---

<a
  class="bg-color-primary/90 hover:bg-color-primary/60 hover:scale-95 text-white transition-all text-sm py-2 px-4 rounded-md cursor-pointer"
  href={to}
>
  <slot />
</a>
